@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

.Main{
  font-family: 'Poppins', sans-serif;
}

/* input{
  
} */

.OuterBox{
  width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid brown;
  display: flex;
}

.inner-left{
  width: 30%;
  border: 1px solid brown;
  margin: 10px;
  padding: 10px;
}

.inner-right{
  width: 70%;
  border: 1px solid brown;
  margin: 10px;
  padding: 10px;
}

.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-input::before {
  content: 'Choosefiles';
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
